X_CLIENT_ID=
X_CLIENT_SECRET=
X_REDIRECT_URI=http://127.0.0.1:3001/callback
X_SCOPES=tweet.read tweet.write users.read offline.access
X_ACCESS_TOKEN=
X_REFRESH_TOKEN=
POST_TIME=09:30
TIMEZONE=Asia/Kolkata
