.venv/
.pytest_cache/
__pycache__/
*.py[cod]

src/*.egg-info/

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/crash.*.log
terraform/*.tfvars
!terraform/.terraform.lock.hcl
