organization      = "your-tfe-organization"
github_repository = "YOUR_GITHUB_USERNAME/gcp-platform-engineering-portfolio"
oauth_token_id    = "ot-xxxxxxxxxxxxxxxx"
gcp_project_id    = "your-platform-prod-project"
gcp_region        = "us-central1"
